.left_side_bar {
    margin-top: 20px;
    width: 18%;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 16px 0 0 0;

    .header_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 175px;

        img {
            width: 34px;
        }

        h1 {
            font-size: 32px;
            font-style: normal;
            font-weight: 400px;
            color: #1E2875;
            line-height: 8.96px;
            letter-spacing: 0.25px;
        }
    }

    .nav_bar {
        margin-top: 40px;

        .nav_wrapper {
            width: 250px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            

            span {
                color: #373B5C;
                font-size: 17px;
                font-weight: 500;
                text-align: left;
                margin-left: 20px;
            }
        }
    }

    figure {
        margin: 0;
        margin-top: 120px;

        img {
            margin: auto;
        }
    }

    .logout_div {
        margin-top: 40px;
        margin-bottom:80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;

        span {
            font-size: 17px;
            color: #373B5C;;
        }
    }

    .version {
        
        font-size: 17px;
        color: #373B5C;
    }
}