main.profile-account {
    // padding-left: 20px;
    background-color: #E8E9F1;
    display: flex;



    .hero {
        width: 90%;
        // height: 900px;

        .profile_detail {
            background: url("../assets/Profile_adminstration_background.svg") center no-repeat;
            height: 160px;
            padding: 40px;
            position: relative;
            margin-top: -40px;

            .profile_detail_wrapper {
                width: 580px;
                display: flex;
                justify-content: space-between;
                margin: auto;

                figure {
                    margin: auto;
                    margin-top: 120px;
                    padding-left: 240px;
                    width: 210px;
                    position: relative;

                    .profile_image {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        border: 4px solid #fff;
                    }

                    .profileImageCameraIcon {
                        position: absolute;
                        bottom: 20px;
                        right: 0px;
                        padding: 10px;
                        border-radius: 100%;
                        background: rgba(255, 255, 255, 0.8);

                    }
                }

                .hero_name_detail {
                    margin-top: 210px;
                    margin-right: 50px;

                    h2 {
                        color: #1E2875;
                        padding: 5px 5px;
                        border-radius: 6px;
                        width: 150px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: -2px;
                        margin-left: 7px;
                        margin-top: 5px;
                    }

                    span {
                        color: #00000080;
                        background: #FFBB0D;
                        padding: 5px 2px;
                        border-radius: 6px;
                        font-size: 15px;
                        font-weight: 400;
                        margin-left: 13px;
                    }
                }
            }


            .backgroundThreeDotIcon {
                position: absolute;
                top: 60px;
                right: 30px;
            }

        }

        .profile_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 20px;




            .profile_edit_field {
                width: 672px;
                background-color: #ffffff;
                border-radius: 15px;
                padding: 20px 60px 20px 60px;

                .input_div_wrapper {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .input_div {
                        display: block;

                        span {
                            display: block;
                            font-size: 15px;
                            font-weight: 400;
                            margin-bottom: 10px;

                            i {
                                color: red;
                                font-size: 17px;
                            }

                            span {
                                display: inline;
                                margin-left: 10px;
                                font-size: 12px;
                                color: #768389;
                            }
                        }

                        input {
                            width: 270px;
                            height: 36px;
                            border: 0.5px solid rgba(0, 0, 0, 0.2);
                            padding-left: 30px;
                            border-radius: 5px;
                        }

                        input.username_input {
                            width: 180px;

                        }

                        textarea {
                            width: 640px;
                            margin-top: 5px;
                            height: 46px;
                            border: 0.5px solid rgba(0, 0, 0, 0.2);
                            border-radius: 5px;
                            padding-left: 30px;
                        }
                    }

                    span.example {
                        color: #15182E;
                        font-style: italic;
                        font-weight: 500;
                        font-size: 22px;
                        margin-bottom: -40px;
                        margin-right: 90px;
                        opacity: 0.8;
                    }
                }

                .button_container {
                    button {
                        color: #fff;
                        background: #1E2875;
                        border: none;
                        border-radius: 10px;
                        font-size: 20px;
                        font-weight: 500;
                        height: 56px;
                        width: 220px;
                        text-align: center;
                        margin: 50px 0px 0px 90px;
                    }

                    button.cancel {
                        color: #1E2875;
                        background-color: #fff;
                        border: 1px solid #1E2875;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    main.profile-account {
        // padding-left: 20px;
        background-color: #E8E9F1;
        display: flex;



        .hero {
            width: 80%;
            // height: 900px;

            .profile_detail {
                background: url("../assets/Profile_adminstration_background.svg") center no-repeat;
                height: 300px;
                padding: 40px;
                position: relative;
                margin-top: -40px;

                .profile_detail_wrapper {
                    width: 580px;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;

                    figure {
                        margin: auto;
                        margin-top: 180px;
                        padding-left: 180px;
                        width: 210px;
                        position: relative;

                        .profile_image {
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            border: 4px solid #fff;
                        }

                        .profileImageCameraIcon {
                            position: absolute;
                            bottom: 20px;
                            right: 10px;
                            padding: 10px;
                            border-radius: 100%;
                            background: rgba(255, 255, 255, 0.8);

                        }
                    }

                    .hero_name_detail {
                        margin-top: 320px;

                        h2 {
                            color: #1E2875;
                            padding: 5px 5px;
                            border-radius: 6px;
                            font-size: 24px;
                            font-weight: 600;
                            margin-bottom: -2px;
                            margin-top: 8px;
                            width: 170px;
                        }

                        span {
                            color: #00000080;
                            background: #FFBB0D;
                            ;
                            padding: 5px 2px;
                            border-radius: 6px;
                            font-size: 17px;
                            font-weight: 400;
                            margin-left: 10px;
                        }
                    }
                }


                .backgroundThreeDotIcon {
                    position: absolute;
                    top: 60px;
                    right: 30px;
                }

            }

            .profile_wrapper {
                display: flex;
                justify-content: space-between;
                padding: 60px 20px;




                .profile_edit_field {
                    width: 672px;
                    background-color: #ffffff;
                    border-radius: 15px;
                    padding: 20px 60px 20px 60px;

                    .input_div_wrapper {
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .input_div {
                            display: block;

                            span {
                                display: block;
                                font-size: 15px;
                                font-weight: 400;
                                margin-bottom: 10px;

                                i {
                                    color: red;
                                    font-size: 17px;
                                }

                                span {
                                    display: inline;
                                    margin-left: 10px;
                                    font-size: 12px;
                                    color: #768389;
                                }
                            }

                            input {
                                width: 270px;
                                height: 56px;
                                border: 0.5px solid rgba(0, 0, 0, 0.2);
                                border-radius: 5px;
                                padding-left: 30px;
                            }

                            input.username_input {
                                width: 180px;
                               
                            }

                           textarea {
                                width: 640px;
                                margin-top: 5px;
                                height: 56px;
                                border: 0.5px solid rgba(0, 0, 0, 0.2);
                                border-radius: 5px;
                                padding-left: 30px;
                            }
                        }

                        span.example {
                            color: #15182E;
                            font-style: italic;
                            font-weight: 500;
                            font-size: 26px;
                            margin-bottom: -60px;
                            margin-left: -120px;
                            opacity: 0.8;
                        }
                    }

                   .button_container {
                        button {
                            color: #fff;
                            background: #1E2875;
                            border: none;
                            border-radius: 10px;
                            font-size: 20px;
                            font-weight: 500;
                            height: 56px;
                            width: 220px;
                            text-align: center;
                            margin: 50px 0px 0px 90px;
                        }

                        button.cancel {
                            color: #1E2875;
                            background-color: #fff;
                            border: 1px solid #1E2875;
                        }
                   }
                }
            }
        }
    }
}